## Words

In [1]:
words = ['play', 'filling', 'bar', 'theatre', 'easygoing', 'date', 'lead', 'that', 'story',  'island']

**Print every word in upper case**

In [5]:
# Create an empty list to store uppercase of the words
uppercase_words = [i.upper() for i in words]
# Print or display the list
uppercase_words

['PLAY',
 'FILLING',
 'BAR',
 'THEATRE',
 'EASYGOING',
 'DATE',
 'LEAD',
 'THAT',
 'STORY',
 'ISLAND']

**Create a new list containing only words with 5 or more letters**

In [6]:
# Create an empty list to store words that has 5 letters or longer 
words_5_more = [i for i in words if len(i) >= 5]
# Print or display the list
words_5_more

['filling', 'theatre', 'easygoing', 'story', 'island']

**Print the first word starting with "t"**

In [11]:
# Create list containing all words that start with "t" or "T"
first_t = [i for i in words if i.startswith('t') or i.startswith('T') ]
# Access the first word starting with 't'
first_t[0]

'theatre'

## Numbers

**Create a list containing the square of every number from 1 to 10**

In [3]:
# Creating a list of squares
squares = [i**2 for i in range(1, 11)]
# Display the list
squares

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

**Print a list containing the square of every odd number from 1 to 10**

In [4]:
#Get the square of odd numbers from 1 to 10 using modulus
odd_square = [i * i for i in range(1, 11) if i % 2 != 0]
# Display the list
odd_square

[1, 9, 25, 49, 81]

**Create a list with the squares of all multiples of 8 below 1000**

In [6]:
# List of squares of all multiples of 8 below 1000
square_of_multiples_8 = [i * i for i in range(8, 1000, 8)] #Start at 8 step by 8 and square each number
# Display the list
square_of_multiples_8

[64,
 256,
 576,
 1024,
 1600,
 2304,
 3136,
 4096,
 5184,
 6400,
 7744,
 9216,
 10816,
 12544,
 14400,
 16384,
 18496,
 20736,
 23104,
 25600,
 28224,
 30976,
 33856,
 36864,
 40000,
 43264,
 46656,
 50176,
 53824,
 57600,
 61504,
 65536,
 69696,
 73984,
 78400,
 82944,
 87616,
 92416,
 97344,
 102400,
 107584,
 112896,
 118336,
 123904,
 129600,
 135424,
 141376,
 147456,
 153664,
 160000,
 166464,
 173056,
 179776,
 186624,
 193600,
 200704,
 207936,
 215296,
 222784,
 230400,
 238144,
 246016,
 254016,
 262144,
 270400,
 278784,
 287296,
 295936,
 304704,
 313600,
 322624,
 331776,
 341056,
 350464,
 360000,
 369664,
 379456,
 389376,
 399424,
 409600,
 419904,
 430336,
 440896,
 451584,
 462400,
 473344,
 484416,
 495616,
 506944,
 518400,
 529984,
 541696,
 553536,
 565504,
 577600,
 589824,
 602176,
 614656,
 627264,
 640000,
 652864,
 665856,
 678976,
 692224,
 705600,
 719104,
 732736,
 746496,
 760384,
 774400,
 788544,
 802816,
 817216,
 831744,
 846400,
 861184,
 876096,
 891136,
 906304,
 921600,
 937024,
 952576,
 968256,
 984064]

## People

In [12]:
people = [
    {
        "name": "Juan",
        "age": 34,
        "n_kids": 2
    },
    {
        "name": "Pepe",
        "age": 27,
        "n_kids": 0
    },
    {
        "name": "Sonia",
        "age": 41,
        "n_kids": 1
    },
    {
        "name": "Lucía",
        "age": 22,
        "n_kids": 2
    },
    {
        "name": "Leo",
        "age": 55,
        "n_kids": 5
    }
]

**How many people are there?**

In [13]:
len(people)

5

**How many people have kids**?

In [16]:
# Create list containing all the people with kids
have_kids = [i for i in people if i["n_kids"] > 0]
#print the length of the list
len(have_kids)

4

**How many kids do they have in total?**

In [19]:
# Create list containing all the people with kids and return the number of kids
total_kids = [ i["n_kids"] for i in people if i["n_kids"] > 0] 
# Sum up the number of kids
sum(total_kids)

10

**In a year's time, names ending with "a" will have an extra kid. Create a list of dictionaries with people's info in a year's time**

In [21]:
""" 
people_in_a_year = [
    { "name": person["name"], "age": person["age"], "n_kids": person["n_kids"] + 1 if person["name"].endswith("a") else person["n_kids"] }
    for person in people
] 
"""
# Create a list in_a_year that unpacks the current i in 'people'and modifies the "n_kids" field based on the name ending 
in_a_year = [{**i, "n_kids": i["n_kids"] + 1 if i["name"].endswith("a") else i["n_kids"]} for i in people]
# Print or display the list after modifications 
in_a_year

[{'name': 'Juan', 'age': 34, 'n_kids': 2},
 {'name': 'Pepe', 'age': 27, 'n_kids': 0},
 {'name': 'Sonia', 'age': 41, 'n_kids': 2},
 {'name': 'Lucía', 'age': 22, 'n_kids': 3},
 {'name': 'Leo', 'age': 55, 'n_kids': 5}]